body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.stopwatch{
    width: 89%;
    max-width: 599px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 199px auto 0;
    box-shadow: 0 11px 11;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom:100px;
    margin-top: 100px;

}

.stopwatch h1{
    font-size: 100px;
    font-weight: 301;
    margin-top: -125px;
    margin-bottom: 10px;
}

.buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

buttons img{
    width
}

